<header class='design-header'>
  <div><img class='fade-in one' src="design-shots/PATRICIA-6-11 copy.jpg" alt>
    <p class='details'>
      Flyer Design for Private Selection Presents Patrcia
    </p>
  </div>

  <div><img class='fade-in two' src="design-shots/DJQUFLYER-005-FP.jpg" alt>
    <p class='details'>
      Flyer Design for Private Selection Presents DJ Qu
    </p>
  </div>
  <div><img class='fade-in one' src="design-shots/tumblr_ldsskku8WA1qee2r6.jpg" alt>
    <p class='details'>
      Hand Drawn 3D typeface
    </p>
  </div>
  <div><img class='fade-in three' src="design-shots/Screen Shot 2016-02-12 at 5.47.46 PM.png" alt>
    <p class='details'>
      12" center label design for Private Selection Records
    </p>
  </div>
  <div><img class='fade-in four' src="design-shots/isometric-paper-from-flickr.jpg" alt>
    <p class='details'>
Misc Isometric Sketch, 2015
 </p>
  </div>
  <div><img class='fade-in five' src="design-shots/isosketch.jpg" alt>
    <p class='details'>
      Misc Isometric Sketch, 2015
</p>
  </div>
  <div><img class='fade-in one' src="design-shots/10818125_1532068873698168_191326840_n.jpg" alt>
    <p class='details'>
      Flyer Design for Private Selection NYE with Delivery
    </p>
  </div>
  <div><img class='fade-in three' src="design-shots/SU16_ASCII.jpg" alt>
  <p class='details'>
      Obey Men's Clothing Design for SS16
  </p>
  </div>
  <div><img class='fade-in four' src="design-shots/SU16_CHAINS.jpg" alt>
    <p class='details'>
        Obey Men's Clothing Design for SS16
    </p>
  </div>
  <div><img class='fade-in five' src="design-shots/SU16TOKYO.jpg" alt>
    <p class='details'>
        Obey Men's Clothing Design for SS16
    </p>
  </div>
  <div><img class='fade-in one' src="design-shots/SU16F_LOUD.jpg" alt>
    <p class='details'>
        Obey Men's Clothing Design for SS16
    </p>
  </div>
  <div><img class='fade-in two' src="design-shots/SU16_W.jpg" alt>
    <p class='details'>
        Obey Women's Clothing Design for SS16
    </p>
  </div>
  <div><img class='fade-in three' src="design-shots/obey-white-the-occult-tee-product-1-032814800-normal.jpeg" alt>
    <p class='details'>
        Obey Women's Clothing Design for SS15
    </p>
  </div>
  <div><img class='fade-in four' src="design-shots/isosketch.jpg" alt>
    <p class='details'>
      Misc Isometric Sketch, 2015
</p>
  </div>
    <!-- images placed inside block elements to deal with a Firefox rendering bug affecting  scaled flexbox images -->
</header>
<div class="back-button">
  <h5>private portfolio available upon request.</h5>
  <a  ui-sref='home'><h1>Back</h1></a>
</div>
