<header class=''>
  <div><img src="design-shots/PATRICIA-6-11 copy.jpg" alt></div>
  <div><img src="design-shots/DJQUFLYER-005-FP.jpg" alt></div>
  <div><img src="design-shots/tumblr_ldsskku8WA1qee2r6.jpg" alt></div>
  <div><img src="design-shots/Screen Shot 2016-02-12 at 5.47.46 PM.png" alt></div>
  <div><img src="design-shots/isometric-paper-from-flickr.jpg" alt></div>
  <div><img src="design-shots/isosketch.jpg" alt></div>
  <div><img src="design-shots/10818125_1532068873698168_191326840_n.jpg" alt></div>
  <div><img src="design-shots/SU16_ASCII.jpg" alt></div>
  <div><img src="design-shots/SU16_CHAINS.jpg" alt></div>
  <div><img src="design-shots/SU16TOKYO.jpg" alt></div>
  <div><img src="design-shots/SU16F_LOUD.jpg" alt></div>
  <div><img src="design-shots/SU16_W.jpg" alt></div>
  <div><img src="design-shots/obey-white-the-occult-tee-product-1-032814800-normal.jpeg" alt></div>
  <div><img src="design-shots/isosketch.jpg" alt></div>
    <!-- images placed inside block elements to deal with a Firefox rendering bug affecting  scaled flexbox images -->
</header>
