<div class="resume-wrapper">
	<section class="profile section-padding">
		<div class="container">
			<!-- <div class="picture-resume-wrapper">
        <div class="picture-resume">
        <span><img src="https://avatars0.githubusercontent.com/u/12524608?v=3&s=460" alt="" /></span>
      </div>
         <div class="clearfix"></div>
 </div>-->
      <div class="name-wrapper fade-in one">
        <h1>Jesse Pimenta</h1>
      </div>
      <div class="clearfix"></div>
      <div class="contact-info clearfix">
      	<ul class="list-titles">
          <li class="fade-in one">Call</li>
      		<li class="fade-in two">Email</li>
      		<li class="fade-in three">Web</li>
      		<li class="fade-in four">Home</li>
      	</ul>
        <ul class="list-content ">
        	<li class="fade-in one">310-689-8853</li> <!-- YOUR EMAIL -->
        	<li class="fade-in two">opticdesign.jp@gmail.com</li> <!-- YOUR EMAIL -->
        	<li class="fade-in three"><a href="#">jp-la.co</a></li> <!-- YOUR WEBSITE  -->
        	<li class="fade-in four">Los Angeles, CA</li> <!-- YOUR STATE AND COUNTRY  -->
        </ul>
      </div>
      <div class="contact-presentation fade-in five"> <!-- YOUR PRESENTATION RESUME  -->
      	<p><span class="bold">Experienced graphic designer with unique web
development skills and a passion for creative innovation</span> </p>
      </div>
      <div class="contact-social clearfix fade-in five">
      	<ul class="list-titles">
      		<li>Twitter</li>
      		<li>GitHub</li>
      		<li>LinkedIn</li>
      	</ul>
        <ul class="list-content fade-in five"> <!-- REMEMBER TO PUT THE URL ON THE HREF TAG  -->
      		<li><a href="https://twitter.com/drrreams">@drrreams</a></li> <!-- TWITTER  -->
      		<li><a href="https://github.com/jessePimenta">https://github.com/jessePimenta</a></li> <!-- GITHUB -->
      		<li><a href="https://www.linkedin.com/in/jessepimenta">https://www.linkedin.com/in/jessepimenta</a></li> <!-- LINKEDIN   -->
      	</ul>
      </div>
		</div>
	</section>

  <section class="experience section-padding">
  	<div class="container">
  		<h3 class="experience-title">Work Experience</h3>

      <div class="experience-wrapper">
      	<div class="company-wrapper clearfix">
      		<div class="experience-title">Flatlay</div> <!-- NAME OF THE COMPANY YOUWORK WITH  -->
          <div class="time">March 2016 - June 2016</div> <!-- THE TIME YOU WORK WITH THE COMPANY  -->
      	</div>

        <div class="job-wrapper clearfix">
        	<div class="experience-title">Front End Developer </div> <!-- JOB TITLE  -->
          <div class="company-description">
          	<p>
              - Crafted a hybrid e-commerce/social platform UI geared towards shoppers and brands <br>
              - Implemented a simple user flow for an easier and more seamless shopping experience <br>
              - Designed UI/UX for a complex data-driven application <br>
              - Utilized Angular.js and wrote custom directives for unique use cases <br>
</p>  <!-- JOB DESCRIPTION  -->
          </div>
        </div>

        <div class="company-wrapper clearfix">
      		<div class="experience-title">30 Second Auto Parts</div> <!-- NAME OF THE COMPANY YOUWORK WITH  -->
          <div class="time">Nov 2016 - February 2016 (contracted)</div> <!-- THE TIME YOU WORK WITH THE COMPANY  -->
      	</div>

         <div class="job-wrapper clearfix">
        	<div class="experience-title">Full Stack Developer</div> <!-- JOB TITLE  -->
          <div class="company-description">
          	<p>
              - Designed a custom e-commerce UI geared towards insurance adjustors in need of auto parts <br>
              - Architected a simple system that can be used powerfully by buyers and sellers<br>
              - Created custom features such as a countdown timer and messaging<br>
            </p>  <!-- JOB DESCRIPTION  -->
          </div>
        </div>

        <div class="company-wrapper clearfix">
      		<div class="experience-title">Enterprise Sound</div> <!-- NAME OF THE COMPANY YOUWORK WITH  -->
          <div class="time">October 2015 - February 2016 (contracted)</div> <!-- THE TIME YOU WORK WITH THE COMPANY  -->
      	</div>

         <div class="job-wrapper clearfix">
        	<div class="experience-title">Front End Developer/ Content Creator </div> <!-- JOB TITLE  -->
          <div class="company-description">
          	<p>
               - Curating radio stations for specific business environments<br>
               - Tagging music based on a calculated similarity algorithm<br>
               - Uploading batches of songs to our db using Node and MongoDB<br>
               - Created 40 new stations, helping our company outnumber competitors<br>
             </p>   <!-- JOB DESCRIPTION  -->
          </div>
        </div>

      </div><!--Skill experience-->

      <div class="section-wrapper clearfix">
      	<h3 class="section-title">Skills</h3>  <!-- YOUR SET OF SKILLS  -->
        	<ul>
        		<li class="skill-percentage">HTML / HTML5</li>
        		<li class="skill-percentage">CSS / CSS3 / SASS / LESS</li>
        		<li class="skill-percentage">Javascript</li>
        		<li class="skill-percentage">Jquery</li>
        		<li class="skill-percentage">AngularJS</li>
            <li class="skill-percentage">p5.js</li>
        		<li class="skill-percentage">Polymer</li>
        		<li class="skill-percentage">Photoshop</li>
        		<li class="skill-percentage">Illustrator</li>

        	</ul>

      </div>

      <div class="section-wrapper clearfix">
        <h3 class="section-title">Hobbies</h3>  <!-- DESCRIPTION OF YOUR HOBBIES -->
        <p>When I'm not coding you can find me producing music or DJ'ing. I run an independent record label out of los angeles with a focus on underground dance music. I've just released a record via a label called Nous Disques from Greece. <a href="https://www.discogs.com/Dreams-Off-The-Grid/release/8535201">https://www.discogs.com/Dreams-Off-The-Grid/release/8535201</a></p>

      </div>

  	</div>
  </section>

  <div class="clearfix"></div>
</div>
