<!DOCTYPE html>
<html ng-app="app">
<head>
  <meta charset="utf-8">
  <meta property="og:site_name" content='Jesse Pimenta' charset="utf-8">
  <meta property="og:title" content='Jesse Pimenta' charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Jesse Pimenta</title>
  <link rel="stylesheet" href="css/style.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="css/hover.css" media="screen" title="no title" charset="utf-8">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="icon" href="/favicon.ico" type="image/x-icon">
  <!-- <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" media="all"> -->
</head>
<body>
      <div class="wrapper">
        <!-- <header class="header">Header</header> -->
        <aside class="aside aside-1">
                <a ui-sref='home'>
                  <p class='fade-in one'> / Home</b></p>
                </a>
                <a>
                  <p class='fade-in two' ng-click='experiments=!experiments'>/ Web Design & Development </p><!--<b class='hvr-icon-hang' ng-click='experiments=!experiments'></b>-->
                </a>
                <ul class='webOption'>
                  <a  class='experimentsTab fade-in one hvr-bounce-in' ng-show='experiments' ng-click='explist=!explist'> experiments </a>
                </ul>
                <ul ng-show='explist'>
                  <a  ui-sref='lightworks' class='experimentsTab fade-in one expLink'> lightworks </a>
                  <a  href='http://jp-la.haus' class='experimentsTab fade-in two expLink'> room </a>
                  <a ui-sref='colortrails' class='experimentsTab fade-in three expLink'> colortrails  </a>
                  <a  ui-sref='instant-abstract-expressionism' class='experimentsTab fade-in four expLink'> instant-expressionism </a>
                </ul>
                <a class='experimentsTab fade-in one hvr-bounce-in' ng-show='experiments' ui-sref='projects'> projects </a>
                <a ui-sref="design">
                  <p class='fade-in three'>/ Graphic Design</p>
                </a>
                <a ui-sref="sound-design">
                  <p class='fade-in four'>/ Sound Design</p>
                </a>
                <a ui-sref="resume">
                  <p class='fade-in five'>/ Resume</p>
                </a>
                <br>
                <br>
                <!-- <p class="contact">opticdesign.jp@gmail.com</p>
                <p class="contact">dreams@privateselectionrecords.net</p>
                <p class="contact"><a href="https://github.com/JessePimenta">github.com/JessePimenta</a></p> -->
            </aside>
        <aside class="aside aside-2">
          <div ui-view></div>
          <!-- <div ng-show='gallery' gallery></div>
          <div ng-show='music'  music></div> -->
        </aside>
        <footer class="footer"><p>Built using <a href="http://p5js.org/">p5.js</a>
      </div>
  <!-- <div ui-view></div> -->
  <!-- <p5 style='float:right'  sketch="randomColor"></p5>
  <div id='sketch-holder'>
    <p5  sketch='worm'></p5>
    <p5 sketch='worm2'></p5>
  </div> -->
  <script src="bower_components/p5js/lib/p5.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
  <script src="angular-p5.js"></script>
	<script src="p5.dom.js"></script>
	<!-- <script src="../jquery-2.2.0.min.js"></script> -->
  <!-- <link rel="stylesheet" href="css/animate.css" media="screen" title="no title" charset="utf-8"> -->
  <script src="app.js"></script>
</body>
</html>
