.container {
  display: flex;
}

* {
  /*transition: all .2s;*/
  font-family: monaco;
}


ul.webOption {
    -webkit-padding-start: 0px;
}

ul {
    -webkit-padding-start: 0px;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;

  justify-content: center;

  align-items: center;
}


@import "compass/css3";

.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;

  font-weight: bold;
  text-align: center;
}

.wrapper > * {
  padding: 0 15px;
  flex: 1 100%;
}
a {
    text-decoration: none;
    color: black;
    -webkit-padding-start: 0px;
    cursor: crosshair;
}
.header {background: black;}

.footer {font-family: monaco;font-size: 10px;color: blue;}

.main {
  text-align: left;
  /* position: fixed; */
  /* top: -18px; */
  /* left: 426px; */
}

@media all and (max-width: 480px) {

  header.design-header {
    margin-top: 3400px;
}

  header.web-header {
  background: none;
  margin-top: 400px !important;
}

  p.details {
    font-size: 12px;
    color: black !important;
    margin-top: 10px;
    margin-bottom: 20px;
    font-style: italic;
    /* -webkit-margin-before: 0em; */
    /* -webkit-margin-after: 0em; */
}
  aside.aside.aside-1 {
    margin-top: 700px;
}
.main {
   margin-top: 0px;
  }
}

.aside-1 {
  font-size: 14px;
  text-decoration: none;
  font-family: "Lucida Console", Monaco, monospace;

}

.back-button {
  color: black;
  font-family: monaco;
}

.aside-2 {
  overflow-y: scroll;
  position: relative;
}

@media all and (min-width: 600px) {
  .aside { flex: 1 auto; }
}

@media all and (min-width: 800px) {

  .web-div {
    -webkit-box-flex: auto;
    -ms-flex: auto;
    flex: auto;
    width: 400px;
    margin-top: 3.5vw;
    margin-bottom: 7.5vw;
}

  header {
    padding: .5vw;
    font-size: 0;
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    -ms-flex-direction: column;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    display: -webkit-box;
    display: flex;
    background: black;
    margin-top: 2400px;
}
  header div {
    -webkit-box-flex: auto;
    -ms-flex: auto;
    flex: auto;
    width: 200px;
    margin: 7.5vw;
}
  .main    {flex: 3 0px;position: fixed;top: -18px;left: 426px;}
  .aside-1 {order: 1;margin-top: 100px;font-size: 14px;text-decoration: none;/* width: 20%; */font-family: "Lucida Console", Monaco, monospace;position: fixed;left: 50px;bottom: 0;top: -60px;z-index: 1;}
  .main    {order: 2;}
  .aside-2 {order: 3;position: relative;font-family: monaco;font-size: 14px;}
  .footer  {order: 4;float: left;position: fixed;left: 148px;bottom: -20px;font-family: monaco;font-size: 9px;color: blue;}
}

body {
  padding: 2em;
}

.experimentsTab {
-webkit-transition:all linear 0.5s;
transition:all linear 0.5s;
  font-size: 10px;
}

.experimentsTab {
}


header {
  padding: .5vw;
  font-size: 0;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  display: -webkit-box;
  display: flex;
}
header div {
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto;
  width: 200px;
  z-index: 2;
}
header div img {
  width: 100%;
  height: auto;
  z-index: 2;
}
@media screen and (max-width: 400px) {
  header div { margin: 0; }
  header {padding: 0;/* background: black; */font-family: monaco;}

}

li {
    list-style: none;
}


/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fade-in.one {
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  animation-delay: 0.7s;
}
.fade-in.oneSub {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.fade-in.two {
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay:1.2s;
  animation-delay: 1.2s;
}

.fade-in.three {
  -webkit-animation-delay: 1.6s;
  -moz-animation-delay: 1.6s;
  animation-delay: 1.6s;
}
.fade-in.four {
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  animation-delay: 2s;
}
.fade-in.five {
  -webkit-animation-delay: 2.4s;
  -moz-animation-delay: 2.4s;
  animation-delay: 2.4s;
}

p.details {
    font-size: 12px;
    color: white;
    margin-top: 10px;
    margin-bottom: 20px;
    font-style: italic;
    /* -webkit-margin-before: 0em; */
    /* -webkit-margin-after: 0em; */
}

header.web-header {
    margin-top: 119.2vw;
}

h5 {
    font-family: monaco;
}


@media (min-width: 800px) {
header {
    padding: .5vw;
    font-size: 0;
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    -ms-flex-direction: column;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    display: -webkit-box;
    display: flex;
    background: black;
    margin-top: 2400px;
}
}
.flexcontainer {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

article.main.video-main.ng-scope {
    top: 10px;
}
